################################
# IntelliJ IDEA
################################
.idea/
*.iml

################################
# Maven
################################
target/

################################
# Playwright artifacts (keep folders)
################################
traces/*
videos/*
screenshots/*

!traces/.gitkeep
!videos/.gitkeep
!screenshots/.gitkeep

################################
# OS files
################################
.DS_Store

################################
# Logs
################################
*.log
