################################
# IntelliJ IDEA
################################
.idea/
*.iml

################################
# Maven
################################
target/

################################
# Playwright / Test Artifacts
################################
traces/
videos/
screenshots/

################################
# OS files
################################
.DS_Store

################################
# Logs
################################
*.log
